.top-container {
  background-color: #ffe6c7;
}
.middle-container {
  background-color: #ffa559;
  height: 200px;
  width: 200px;
}
.bottom-container {
  background-color: #ff6000;
  height: 200px;
  width: 200px;
}
p {
  margin: 0px;
}
body {
  margin: 0px;
}
h1 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}
#pro {
  text-decoration: underline;
}
