.top-container {
  padding-top: 2%;
  background-color: #dbdfea;
}
.middle-container {
  background-color: #ffead2;
  padding: 50px 0;
}
.bottom-container {
  background-color: #ffd4b2;
  font-family: "Hind Siliguri", sans-serif;
  padding-top: 20px;
}
.sailimg {
  width: 100%;
  vertical-align: bottom;
}
.profile-picture {
  width: 200px;
  border-radius: 100px;
  box-shadow: 0px 8px 5px #acb1d6;
}
.skill-row {
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
}
.skill-img {
  width: 120px;
  float: left;
  margin-right: 30px;
}
.copyright {
  color: #fefcf3;
  font-size: 0.8rem;
  padding: 10px 0;
}
p {
  margin: 0px;
  font-family: "Hind Siliguri", sans-serif;
}
body {
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
}
h1 {
  margin-top: 0;
  font-family: "Sacramento", cursive;
}
h2 {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10px;
  color: #acb1d6;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #8294c4;
}
hr {
  border: dotted #dbdfea 6px;
  border-bottom: none;
  width: 4%;
  margin: 80px auto;
}
a {
  color: #86c8bc;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #ceedc7;
}
#title-text {
  position: absolute;
  top: 22%;
  left: 42%;
  font-size: 50px;
  color: #dbdfea;
}
#subtitle-text {
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 20px;
  color: #dbdfea;
  margin: 0px;
}
#intro-text {
  width: 80%;
  margin-left: 10%;
}
.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  display: inline-block;
  margin: 10px auto 0 auto;
  border-radius: 8px;
  font-family: "Merriweather", serif;
  color: #ffffff;
  font-size: 16px;
  background: #95bdff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #b4e4ff;
  text-decoration: none;
}
